{% extends "layout.html" %}
{% block content %}
<h1>
Your account information</h1>
<body>
    This is the information we currently have about you: <br>
    Your name: {{info[7]}} <br>
    Your email: {{info[0]}} <br> 
    Your password: {{password}}<br>
    Your budget: {{info[5]}} <br>
    You like hot weather:  {{info[2]}} <br>
    Train is your preferred transportation method:  {{info[2]}} <br>
    Train is your preferred transportation method:  {{info[3]}} <br>
    Train is your preferred transportation method:  {{info[4]}} <br>
    

</body>
{% endblock content %}