{% extends "layout.html" %}
{% block content %}
    <h1>Welcome, {{ current_user.name }}!</h1>
    <head>
      </head>
      
      <body>
        <br> <br><br> <br>
        <h4>Welcome to Getaway by MoJo Travels</h4>
        <br>
        <p>Our mission at MoJo Travels is to provide you, the user, with the best recommendations regarding your travels.</p>
        <p>Feel free to take a look at our destinations from the navigation bar or read more about our mission statement from the About page.</p>
        <p></p>
        <p>We hope to guide you to your next dream vacation!</p>
      
      </body>

{% endblock content %}
